
td{
    background-color: ivory;  
}
th{
    background-color: coral;
    color: white;
}
textarea{
    width: 20%;
    height: 150px;
    margin: 5px;
}
.title{
    width: 20%;
}
input{
    margin: 5px;
}
.write{
    margin-left: 8%;
}
label{
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.label{
    padding-bottom: 100px;
}